 .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  

    


   /* 175% Resolution */
   @media (min-resolution: 1.5dppx) and (max-resolution: 2dppx) {


   }

  /* 150% Resolution */
  @media (min-resolution: 1.25dppx) and (max-resolution: 1.5dppx) {
   
  
  }

  /* Responsive layout for mobile devices */
  @media (max-width: 640px) {
    .video-responsive {
      padding-bottom: 75%; /* Adjust aspect ratio for a smaller screen */
   }
  }
 
  