/* Header CSS */

.header-section-web {
    background-image: url('../images/home-bg-left.jpg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire header area */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
  }

  .web-view{
    display: block;
  }

  .mobile-view{
    display: none;
  }
  
  .header-title {
    font-size: 60px;
    font-family: "Cormorant-Bold";
    color: #C85103 !important;
    text-shadow: 1px 1px 1px #000 !important;
    letter-spacing: 28px;
  }
  
  .header-subtitle {
    font-size: 24px;
    font-family: "Agradir";
    color: #C85103 !important;
    text-shadow: 1px 1px 1px #000 !important;
    font-weight: bold;
    letter-spacing: 16px;
  }

  .head-template{
    margin-top: 690px !important; 
    margin-left: 44px;
  }


  /* Desktop Resolution */
  @media (min-width: 1024px) {
    
    .logo-template {
      font-size: 35px !important;
      margin-left: 42px !important;
    }

    .head-template{
      margin-top: 360px !important;
    }

    .header-title {
      font-size: 3rem; 
      letter-spacing: 1px;
      color: #C85103 !important;
      text-shadow: 1px 1px 1px #000 !important;
    }
  
    .header-subtitle {
      font-size: 2rem;
      color: #C85103;
      text-shadow: 1px 1px 1px #000 !important;
      letter-spacing: 2px
    }

    .head-template{
      margin-top: 10rem !important;
      margin-left: 0px !important;
    }
  }

  /* Mobile */
  @media (max-width: 767px) {
    .header-section-mobile {
      background-image: url('../images/home-mobile.jpg'); /* Specify the path to your image */
      background-size: cover; /* Cover the entire header area */
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh; /* Full viewport height */
      display: flex;
      align-items: center;
    }

  .web-view{
    display: none;
  }

  .mobile-view{
    display: block;
  }

  .navbar-toggler {
      color: #C85103 !important;
      background-color: #fff !important;
      border: 1px solid #C85103 !important
  }

  .header-title {
    font-size: 3rem; /* Smaller font size on mobile */
    letter-spacing: 1px;
    color: #C85103 !important;
    text-shadow: 1px 1px 1px #000 !important;
  }

  .header-subtitle {
    font-size: 2rem;
    color: #C85103;
    text-shadow: 1px 1px 1px #000 !important;
    letter-spacing: 2px
  }

  .head-template{
    margin-top: 550px !important;
    margin-left: 0px !important;
  }

  .navbar-scrolled {
    background-color: transparent !important;
  }
}