/* Header CSS */

.header-section {
    background-image: url('../images/home-bg.jpg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire header area */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
  }
  
  .header-title {
    font-size: 60px;
    font-family: "Cormorant-Bold";
    color: #C85103;
    letter-spacing: 28px;
  }
  
  .header-subtitle {
    font-size: 24px;
    font-family: "Agradir";
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    letter-spacing: 16px;
  }

  .head-template{
    margin-top: 690px !important
  }


    /* 175% Resolution */
    @media (min-resolution: 1.5dppx) and (max-resolution: 2dppx) {
      
  
    }

  /* 150% Resolution */
  @media (min-resolution: 1.25dppx) and (max-resolution: 1.5dppx) {
    .logo-template {
      font-size: 50px !important;
      margin-left: 42px !important;
    }

    .head-template{
      margin-top: 360px !important;
    }
  }

  /* 125% Resolution */
  @media (min-resolution: 105.6dpi) and (max-resolution: 120dpi) {
    .logo-template {
      font-size: 60px !important;
      margin-left: 50px !important;
    }

    .head-template{
      margin-top: 360px !important;
    }
    
  }

  /* Mobile */
  @media (max-width: 640px) {
    /* .header-section {
      
      background-size: 120% auto !important;
      background-position: top !important;
    } */

    .navbar-toggler {
        color: #C85103 !important;
        background-color: #fff !important;
        border: 1px solid #C85103 !important
    }

    .header-title {
      font-size: 45px; /* Smaller font size on mobile */
      letter-spacing: 1px
    }
  
    .header-subtitle {
      font-size: 12px;
      text-shadow: 1px 1px 3px rgba(1, 1, 1, 1) !important;
      letter-spacing: 5px
    }

    .head-template{
      margin-top: 500px !important;
      padding-left: 26px !important;
    }

    .navbar-scrolled {
      background-color: transparent !important;
    }
  }